{% extends "base.html" %}

{% block title %}Товары - Мой магазин{% endblock %}

{% block content %}
<div class="products-container">
    <h2 class="products-title">Все товары</h2>

    <div class="products-grid">
        {% for product in products %}
        <a href="{{ product.get_absolute_url }}" class="product-card-link">
        <div class="product-card">
            <div class="product-image-container">
                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-image">
            </div>
            <div class="product-info">
                <h3 class="product-title">{{ product.title }}</h3>
                <div class="price-block">
                        {% if product.discount %}
                        <span class="price-old">{{ product.price }} ₽</span>
                        <span class="price-new">{{ product.get_discounted_price }} ₽</span>
                        {% else %}
                        <span class="price-current">{{ product.price }} ₽</span>
                        {% endif %}
                    </div>
                <button class="add-to-cart">В корзину</button>
            </div>
        </div>
        {% empty %}
        <p class="no-products">Товары не найдены</p>
        {% endfor %}
    </div>
</div>
{% endblock %}